.articles {
	width: 400px;
	height: 400px;
	margin: 10px;
	border: 1px solid black;
	padding: 10px;
	border-radius: 5px;
	overflow: hidden;
}

.divider {
	width: 100%;
	height: 1px;
	background-color: rgb(233, 190, 89);
	margin: 15px 0px 15px 0px
}

.articleHeader {
	display: flex;
	justify-content: space-between;
	/* height: 40px; */
}

.bookmarkIcon {
	cursor: pointer;
	margin-left: 5px;
}

.bookmarkIcon:hover {
	opacity: 0.6;
}